.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  color: #333;
  height: 200vh;
  margin-top: 80px;
}

.about-container p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.about-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1.5rem;
}
