main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 27px;
}

section {
  display: grid;
  grid-template-columns: 2;
}
a {
  padding: 20px;
  border: solid white;
}
