main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 18px 27px;
}
h1 {
  margin-bottom: 12px;
}
section {
  display: grid;
  grid-template-columns: 2;
  gap: 6px;
}
section a {
  padding: 20px;
  border: solid 1px #585858;
}
