main {
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
  height: 50vh;
}
.card {
  display: flex;
  flex-direction: column;

  background-color: white;
  padding: 1.7rem 2rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
