main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  height: 80.7vh;
  position: relative;

  overflow: hidden;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2.5rem 3rem;
  border-radius: 8px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
  gap: 6px;
  width: 35vw;
  min-width: 250px;
  max-width: 500px;
  z-index: 4;
}

.card p {
  color: #373737;
  font-weight: 400;
}
.card h2 {
  font-size: 2.8rem;
  margin-bottom: 8%;
}
.input {
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
  margin-bottom: 8px;
}

.input:focus {
  border-color: #1c1c1c;
}

.login-button {
  margin-top: 1.5rem;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #333;
}

.signup-text {
  text-align: center;
  margin-top: 12px;
}
.signup-text a {
  text-decoration: underline;
}
.signup-text a:hover {
  color: rgba(0, 0, 0, 0.329);
}

.card-bg {
  position: absolute;
  z-index: -1;
}
.card-bg p {
  font-size: 40rem;
  color: rgba(255, 255, 255, 0.425);
  font-weight: bold;
  z-index: 1;
}
