.input {
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #1c1c1c;
}

.login-button {
  margin-top: 1rem;
  padding: 0.7rem;
  font-size: 1rem;
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #333;
}
