* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

button {
  padding: 0;
  margin: 0;
  border: none;
}

nav a,
a {
  color: inherit;
  text-decoration: none;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.heading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: rgb(51, 51, 51);
}

.content {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.outlet-container {
  margin-top: 200px;
}
footer {
  background-color: #1c1c1c;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  gap: 30px;
}
.footer-item-container {
  display: grid;
  grid-template-columns: 1;
  gap: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-item-container h1 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.footer-item-container .footer-item h2 {
  font-size: 1.1rem;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #c7c7c7;
}
.footer-item p {
  margin: 5px 20px;
  color: #a8a8a8;
}
.outlet-container {
  margin-top: 80px;
  min-height: 80vh;
}

@media (min-width: 768px) {
  .footer-item-container {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
  }
}
